<fieldset>
  <legend><%= I18n.t('views.employments.employment_information') %></legend>
  <p>
    <label><%= I18n.t('views.employments.start') %>:</label> <%= @employment.startDate.to_formatted_s(:datepicker_date)%>
  </p>
  <p>
    <label><%= I18n.t('views.employments.end') %>:</label> <%= @employment.endDate.to_formatted_s(:datepicker_date) unless @employment.endDate.nil? %>
  </p>
  <p>
    <label><%= I18n.t('views.employments.weekly_hours') %>:</label> <%= @employment.weeklyHours %>
  </p>
</fieldset>
<% if @employment.migrated_employment? %>
  <fieldset>
    <legend><%= I18n.t('views.employments.migration_information') %></legend>
    <p>
      <label><%= I18n.t('views.employments.migrated_leave_days') %>:</label> <%= @employment.leave_days %>
    </p>
    <p>
      <label><%= I18n.t('views.employments.migrated_working_hours') %>:</label> <%= format_duration(@employment.working_hours_balance) %>
    </p>
  </fieldset>
<% end %>

<%= link_to I18n.t('views.employments.edit'), edit_user_employment_path(@employment.user, @employment) %> |
<%= link_to I18n.t('views.employments.back'), user_employments_path %>
