<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1><%= I18n.t('views.user_mailer.working_day_validation_failed.heading', date: @working_day.date.to_formatted_s(:pretty_date)) %></h1>
  <p>
    <%= I18n.t('views.user_mailer.working_day_validation_failed.description') %>
    <ul>
      <% @validation_errors.each do |validation_error| %>
        <li> <%= validation_error %></li>
      <% end %>
    </ul>
  </p>
  <p>
    <%= I18n.t('views.user_mailer.working_day_validation_failed.link_prefix') %> <%= @url %> <%= I18n.t('views.user_mailer.working_day_validation_failed.link_suffix') %>
  </p>
</body>
</html>
