<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h2><%= I18n.t('views.user_mailer.account_created.heading')%></h2>
  <p>
    <%= I18n.t('views.user_mailer.account_created.message_prefix') %> <a href="<%= @url %>"><%= I18n.t('views.user_mailer.account_created.activation_page') %></a><%= I18n.t('views.user_mailer.account_created.message_suffix') %>
  </p>
</body>
</html>
