<table class="table">
  <thead>
    <tr>
      <th><%= I18n.t('views.statistics.leave_days_content.employee') %></th>
      <th><%= I18n.t('views.statistics.leave_days_content.leave_days') %></th>
    </tr>
  </thead>
  <tbody>
      <% @user_leave_days_statistic.each do |user_leave_days_statistic| %>
      <tr>
        <td><%= link_to user_leave_days_statistic[:user].visible_name, user_path(user_leave_days_statistic[:user])%></td>
        <% if user_leave_days_statistic[:error] %>
          <td><%= user_leave_days_statistic[:error]%></td>
        <% else %>
          <td><%= user_leave_days_statistic[:leave_days_available]%></td>
        <% end %>
      </tr>
      <% end %>
    <tr>
      <td class="total-label"><%= I18n.t('views.statistics.leave_days_content.total_leave_days')%>:</td>
      <td><%= @total_leave_days%></td>
    </tr>
  </tbody>
</table>
