<h2><%= @user.email %></h2>

<ul>
<li><%= link_to I18n.t('views.users.employments'), user_employments_path(@user) %></li>
<li><%= link_to I18n.t('views.users.time_entries'), user_time_entries_path(@user) %></li>
<li><%= link_to I18n.t('views.users.leave_days'), user_leave_days_path(@user) %></li>
<li><%= link_to I18n.t('views.users.reports'), user_reports_path(@user) %></li>
<li><%= link_to I18n.t('views.users.current_report'), user_reports_current_path(@user) %></li>
</ul>
<%= link_to I18n.t('views.users.edit'), edit_user_path(@user) %>
