<%= form_for [@leave_day.user, @leave_day] do |f| %>
  <% if @leave_day.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@leave_day.errors.count, "error") %> prohibited this leave_day from being saved:</h2>

      <ul>
      <% @leave_day.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<p>
  <%= f.label :date %><br>
  <input type="text" id="leave_day_single_datepicker" name="leave_day[date]" value="<%= @leave_day.date.to_formatted_s(:datepicker_date)%>">
</p>

<p>
  <%= f.label :leave_day_type %><br>
  <%= f.select(:leave_day_type, options_for_select(LeaveDay.leave_day_types, @leave_day.leave_day_type)) %>
</p>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
