<div class="panel panel-default">
  <%= render 'list_header' %>
  <div class="panel-body">
    <table class="table">
      <thead>
        <tr>
          <th style="width: 35%;"><%= I18n.t('views.leave_days.date')%></th>
          <th style="width: 35%;"><%= I18n.t('views.leave_days.type')%></th>
          <th colspan="2"><%= link_to I18n.t('views.leave_days.new_leave_day'), new_user_leave_day_path %></th>
        </tr>
      </thead>
      <tbody>
        <% @leave_days.each do |leave_day| %>
          <tr>
            <td><%= leave_day.date.to_formatted_s(:pretty_date)%></td>
            <td><%= leave_day.localized_leave_day_type %></td>
            <td><%= link_to raw('<i class="fa fa-pencil-square-o"></i>'), edit_user_leave_day_path(leave_day.user, leave_day) %></td>
            <td><%= link_to raw('<i class="fa fa-trash-o"></i>'), [leave_day.user, leave_day], method: :delete, data: { confirm: I18n.t('views.leave_days.are_you_sure') } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="panel-footer">
    <table style="width: 100%">
      <tbody>
        <tr>
          <td style="width: 33%;"><b><%= I18n.t('views.leave_days.total')%>:</b> <%= @leave_days_working_year_start%>&nbsp;<%= I18n.t('views.leave_days.days', count: @leave_days_working_year_start)%></td>
          <td style="width: 33%;"><b><%= I18n.t('views.leave_days.consumed')%>:</b> <%= @leave_days_consumed%>&nbsp;<%= I18n.t('views.leave_days.days', count: @leave_days_consumed)%></td>
          <td style="width: 33%;"><b><%= I18n.t('views.leave_days.available')%>:</b> <%= @leave_days_available%>&nbsp;<%= I18n.t('views.leave_days.days', count: @leave_days_available)%></td>
        </tr>
      </tbody>
    <table>
  </div>
</div>
