<div class="panel panel-default">
  <div class="panel-heading"><%= I18n.t('views.leave_days.listing_title', start: @working_year_start.to_formatted_s(:pretty_date), end: @working_year_end.to_formatted_s(:pretty_date))%>
    <%= render "partials/year_selector", path: user_leave_days_path(@user) %>
  </div>
  <div class="panel-body">
    <table class="table">
      <thead>
        <tr>
          <th style="width: 35%;"><%= I18n.t('views.leave_days.date')%></th>
          <th style="width: 35%;"><%= I18n.t('views.leave_days.type')%></th>
          <th colspan="2"><%= link_to I18n.t('views.leave_days.new_leave_day'), new_user_leave_day_path %></th>
        </tr>
      </thead>
      <tbody>
        <% @leave_days.each do |leave_day| %>
          <tr>
            <td><%= leave_day.date.to_formatted_s(:pretty_date)%></td>
            <td><%= leave_day.localized_leave_day_type %></td>
            <td><%= link_to raw('<i class="fa fa-pencil-square-o"></i>'), edit_user_leave_day_path(leave_day.user, leave_day) %></td>
            <td><%= link_to raw('<i class="fa fa-trash-o"></i>'), [leave_day.user, leave_day], method: :delete, data: { confirm: I18n.t('views.leave_days.are_you_sure') } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="panel-footer">
    <table style="width: 100%">
      <tbody>
        <tr>
          <td style="width: 40%"><b>Balance previous year:</b> 3&nbsp;days</td>
          <td style="width: 30%"><b>Consumed:</b> 3&nbsp;days</td>
          <td style="width: 30%"><b>Available:</b> 29&nbsp;days</td>
        </tr>
      </tbody>
    <table>
  </div>
</div>
