<table class="table">
  <thead>
    <tr>
      <th>Start</th>
      <th>Stop</th>
      <th>Duration</th>
      <th colspan="2"><% if display_add_time_entry %><%= link_to 'Add time entry', new_user_time_entry_path(@user, date: @date) %><% end %></th>
    </tr>
  </thead>

  <tbody>
    <% @time_entries.each do |time_entry| %>
    <tr>
      <td><%= time_entry.startTime.to_formatted_s(:pretty_time)%></td>
      <td><%= time_entry.stopTime.to_formatted_s(:pretty_time) unless time_entry.stopTime.nil? %></td>
      <td><%= format_duration(time_entry.duration) unless time_entry.duration.nil? %></td>
      <td><%= link_to raw('<i class="fa fa-pencil-square-o"></i>'), edit_user_time_entry_path(time_entry.user, time_entry) %></td>
      <td><%= link_to raw('<i class="fa fa-trash-o"></i>'), [time_entry.user, time_entry], method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
  <tfoot>
    <% if @working_day.leave_day.nil? %>
    <tr>
      <td colspan="2" class="summary-label">Pause:</td>
      <td colspan="3"><%= format_duration(@working_day.pause_duration)%></td>
    </tr>
    <tr>
      <td colspan="2" class="summary-label">Duration:</td>
      <td colspan="3"><%= format_duration(@working_day.duration)%> / <%= format_duration(@working_day.expected_duration)%></td>
    </tr>
    <% if !@report_summary.nil? %>
      <tr>
        <td colspan="2" class="summary-label">Balance today in current month:</td>
        <td colspan="3"><%= format_duration(@report_summary.working_hours_balance+@report_summary.comp_time)%></td>
      </tr>
    <% end %>
    <% else  %>
    <tr><td colspan="5"><center><%= render "partials/leave_day_type", leave_day: @working_day.leave_day %></center></td></tr>
    <% end %>
  </tfoot>
</table>
