<div class="panel panel-default">
  <div class="panel-heading">Listing Reports
    <%= render "partials/year_selector", path: user_reports_path(@user) %>
  </div>
  <table class="table">
    <% if @reports.size == 0 %>
      <tbody>
        <tr>
          <td><center><%= link_to 'Create a Report', new_user_report_path %></center></td>
        </tr>
      </tbody>
    <% else %>
    <thead>
      <tr>
        <th>Month</th>
        <th>Actual</th>
        <th>Balance</th>
        <th colspan="2"><%= link_to 'New Report', new_user_report_path %></th>
      </tr>
    </thead>

    <tbody>
      <% @reports.each do |report| %>
        <tr>
          <td><%= link_to report.date.to_formatted_s(:month_year_date), user_report_path(report.user, report)  %></td>
          <td><%= format_duration(report.workingHours)%></td>
          <td><%= format_duration(report.balance)%></td>
          <td><%= link_to raw('<i class="fa fa-pencil-square-o"></i>'), edit_user_report_path(report.user, report)  %></td>
          <td><%= link_to raw('<i class="fa fa-trash-o"></i>'), [report.user, report], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
    <% end %>
  </table>
</div>
