<%= render "reports/report_content" %>

<div class="print-footer show-print">
  <div class="date"><%= I18n.t('views.reports.date') %>: <%= Date.today() %></div>
  <div class="signature"><%= I18n.t('views.reports.signature') %></div>
  <div class="clear"></div>
</div>

<div class="hide-print">
  <%= link_to I18n.t('views.reports.edit'), edit_user_report_path(@report.user, @report) %> |
  <%= link_to I18n.t('views.reports.back'), user_reports_path %>
</div>
